doctype html
html(lang="en")
    head
        title= 'Title'
        link(rel='stylesheet', href='../css/index.css', type='text/css' )
        link(rel='stylesheet', href='../css/base.css', type='text/css' )
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    body
        .wrap
            include block/header.pug
            block content
        include block/footer.pug
        include block/scripts.pug

